<div ng-controller="adminCtrl">
    <div class="row" style="margin-top:20px">
        <div class="col-md-9 col-md-offset-3">
            <div class="text-center" style="background-color:#49b610;">
                <br />
                <i class="fa fa-user-circle fa-5x" style="color:#1e5d9a" aria-hidden="true"></i>
                <h2>School Admin</h2>
                <p class="lead">You must login to access resources</p>
                <button class="btn btn-lg btn-default"><a href="http://localhost:8314/#/">Back To Home</a></button>
                <button class="btn btn-lg btn-primary" ng-click="showLoginForm()"><span class="glyphicon glyphicon-log-in"></span> Log In</button>
            </div>
        </div>
    </div>

</div>
