<div class="row" style="background-repeat:no-repeat; background-position:center;padding:50px 0">
    <div class="col-md-3">
        <div class="list-group">
            <a href="#/hmessage" class="list-group-item">Headmaster's Message</a>
            <a href="#/aboutus" class="list-group-item">About Us</a>
            <a href="#/teacherList" class="list-group-item">Teacher</a>

        </div>
    </div>
    <div class="col-md-8" style="background-color:aqua ; ">
        <h2>About Us</h2>
        <hr />
        <p>
            Welcome to DPHS , an Ideal school
            and community where the aspirations and potential of every student are fostered,
            nurtured, and challenged.
        </p>
        <p>
            DPHS  is dedicated to inspiring within each student the pursuit of knowledge,
            the love of wisdom, an appreciation for beauty, and the development of strong character.
            These values, coupled with physical activity, artistic endeavors, and service to others
            orchestrate educational opportunities unparalleled to none. Our Upper School International
            Baccalaureate (IB) and Advanced Placement (AP) results are consistently strong which means
            that our students are well-prepared both academically and emotionally to go on to study at some
            of the best universities in the world.
        </p>
        <p>
            From the first moment we were in touch with DPHS,
            we were impressed with the professionalism and its personal touch.
            Our daughter was challenged and stretched academically beyond what she
            thought possible. As a result of the strong nurturing and supportive
            environment, our daughter was able to realize her potential.
        </p>
    </div>
</div>