<div class="row">
    <div class="col-md-12">
        <div style="background-image:url(../../images/logo.jpg); background-repeat:no-repeat; padding:10%; filter: alpha(opacity=30); background-position:center;" class="text-center">
            <div style="background: rgba(76, 175, 80, 0.7); color:#be0707; padding:20px 20px;">
                <h2>Delport High School</h2>
                1207,Noorjahan Road,<br />
                 Mohammadpur, Dhaka<br />
                Phone: 00125<br />
                Email: dpschool.gmail.com<br />
                Fax: F223TT0<br />
                Website: www.dphs.com
            </div>
        </div>
    </div>
</div>
