
<div class="row" style="background-image:url(../../images/header_logo.png); background-repeat:no-repeat; background-position:center ; padding:50px 0">
    <div class="col-md-3">
        <div class="list-group">
            <a href="#/hmessage" class="list-group-item">Headmaster's Message</a>
            <a href="#/aboutus" class="list-group-item">About Us</a>
            <a href="#/teacherList" class="list-group-item">Teacher</a>

        </div>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <h2 class="text-center"><i> Headmaster's Message</i></h2>

        <hr />
        <img src="../../images/Teacher/h1.jpg" class="img-rounded" alt="Cinque Terre" width="100" style="float:left; margin-right:15px;">
        <p style="background-color:aqua;">
            From the first moment we were in touch with Delport High School,
            we were impressed with the professionalism and its personal touch.
            Our teachers was challenged and stretched academically beyond what they
            thought possible. As a result of the strong nurturing and supportive
            environment, our daughter was able to realize her potential.
            we were impressed with the professionalism and its personal touch.
            Our teachers was challenged and stretched academically beyond what they
            thought possible. As a result of the strong nurturing and supportive
            environment, our daughter was able to realize her potential.
            we were impressed with the professionalism and its personal touch.
            Our teachers was challenged and stretched academically beyond what they
            thought possible. As a result of the strong nurturing and supportive
            environment, our daughter was able to realize her potential.
            we were impressed with the professionalism and its personal touch.
            Our teachers was challenged and stretched academically beyond what they
            thought possible. As a result of the strong nurturing and supportive
            environment, our daughter was able to realize her potential.
        </p>

    </div>
</div>