<h3 style="text-align:center">Teacher's List</h3>
<div class="row">
    <div class="col-md-3" >
        <div class="list-group">        
            <a href="#/hmessage" class="list-group-item">Headmaster's Message</a>
            <a href="#/aboutus" class="list-group-item">About Us</a>
            <a href="#/teacher" class="list-group-item">Teacher</a>
        </div>
    </div>
    <div class="col-md-3">
        <figure class="figure" style="text-align:center">
            <img src="/img/Teacher/T1.jpg" class="img-thumbnail" alt="Cinque Terre" width="130" style="margin-bottom:5px;">
            <figcaption class="figure-caption">
                <p style="text-align:center;"><b>Dalil Uddin</b></p>
                <p style="text-align:center;">Headmaster</p>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-3" style="text-align:center">
        <figure class="figure">
            <img src="/img/Teacher/T0.jpg" class="img-thumbnail" alt="Cinque Terre" width="130" style="margin-bottom:5px;">
            <figcaption class="figure-caption">
                <p style="text-align:center"><b>Toufiq Hasan</b></p>
                <p style="text-align:center">Ast Headmaster</p>
            </figcaption>
        </figure>
    </div>

    <div class="col-md-3" style="text-align:center">
        <figure class="figure">
            <img src="/img/Teacher/T2.png" class="img-thumbnail" alt="Cinque Terre" width="130" style="margin-bottom:5px;">
            <figcaption class="figure-caption">
                <p style="text-align:center"><b>Arif Mahmud</b></p>
                <p style="text-align:center">senior Teacher</p>
            </figcaption>
        </figure>
    </div>
</div>
<div class="row">

    <div class="col-md-3 col-md-offset-3" style="text-align:center">
        <figure class="figure">
            <img src="/img/Teacher/T3.jpg" class="img-thumbnail" alt="Cinque Terre" width="130" style="margin-bottom:5px;">
            <figcaption class="figure-caption">
                <p style="text-align:center"><b>Sorwar Ahmed</b></p>
                <p style="text-align:center">senior Teacher</p>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-3" style="text-align:center">
        <figure class="figure">
            <img src="/img/Teacher/T4.jpg" class="img-thumbnail" alt="Cinque Terre" width="130" style="margin-bottom:5px;">
            <figcaption class="figure-caption">
                <p style="text-align:center"><b>Yeasin Ahmed</b></p>
                <p style="text-align:center">senior Teacher</p>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-3" style="text-align:center">
        <figure class="figure">
            <img src="/img/Teacher/T5.jpg" class="img-thumbnail" alt="Cinque Terre" width="130" style="margin-bottom:5px;">
            <figcaption class="figure-caption">
                <p style="text-align:center"><b>Ashraful</b></p>
                <p style="text-align:center">senior Teacher</p>
            </figcaption>
        </figure>
    </div>
</div>
<div class="row">

    <div class="col-md-3 col-md-offset-3" style="text-align:center">
        <figure class="figure">
            <img src="/img/Teacher/T6.jpg" class="img-thumbnail" alt="Cinque Terre" width="130" style="margin-bottom:5px;">
            <figcaption class="figure-caption">
                <p style="text-align:center"><b>Lukman Hakim</b></p>
                <p style="text-align:center">senior Teacher</p>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-3" style="text-align:center">
        <figure class="figure">
            <img src="/img/Teacher/T7.jpg" class="img-thumbnail" alt="Cinque Terre" width="130" style="margin-bottom:5px;">
            <figcaption class="figure-caption">
                <p style="text-align:center"><b>Robayet Amin</b></p>
                <p style="text-align:center">senior Teacher</p>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-3" style="text-align:center">
        <figure class="figure">
            <img src="/img/Teacher/T8.jpg" class="img-thumbnail" alt="Cinque Terre" width="130" style="margin-bottom:5px;">
            <figcaption class="figure-caption">
                <p style="text-align:center"><b>Sohel Rana</b></p>
                <p style="text-align:center">senior Teacher</p>
            </figcaption>
        </figure>
    </div>
</div>
