<div class="jumbotron">
    <h1 style="color:#1d9a33">DELPORT HIGH SCHOOL</h1>
    <p class="lead" style="color:#125582">
        Thank you for visiting our website and we hope you find the information you require here,<br />
        although to get a true impression of the many strengths and outstanding features of<br />
        Delport High School – you will have to visit us at one of our open days!
    </p>
    <p><a href="http://fb.me/delportschool" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
